#products {
	background: url('../../../../system/images/bg-strip.png');
	overflow-x: hidden;
	overflow-y: auto;
}
.product-item {
    width: 13%;
    float: left;
    margin: 3px 5px;
	overflow: hidden;
	height: 140px;
    border: 1px solid #fff;
    box-shadow: 0 0 4px #BBBBBB;
    -moz-box-shadow: 0 0 4px #BBBBBB;
    -webkit-box-shadow: 0 0 4px #BBBBBB;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: relative;
    text-align: center;
    cursor: pointer;
    background: #fff;
    font-size: 9pt;
}
.quote-checked {
    background: #eee;
    opacity: 0.4;
}

.product-item img {
    max-height: 130px;
    max-width: 190px;
    height:auto;
    width:auto;
}
p.brand {
    padding: 2px 0px;
    background-color: lavender;
    margin-bottom: 1px;
}
p.sku{
    text-align: right;
    font-size: 8pt;
    border-top: 1px dotted #ccc;
    padding: 4px 0px;
    margin-top: 4px;
    color: #7C7C7C;
    position: absolute;
    bottom: 0px;
    right: 2px;
    width: 100%;
    height: 8pt;
    overflow: hidden;
    background-color:#fff;
}

.btn-add {
	position: absolute;
	bottom: 3px;
	left: 10px;
}

#search {
    width: 350px;
    padding: 2px;
    margin: -4px 0;
}

.ui-autocomplete {
    max-height: 180px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 5px;
    background: url('/system/images/bg-strip.png');
    box-shadow: #999 0px 4px 10px;
}