<div class="mt5px"></div>
<div class="product-data grid_3 h300">
    <p id="product-name"><%= name %></p>
    <img class="lazy" src="<%= $('#website_url').val() %><% if (photo) { %>media/<%= photo.replace('/', '/small/') %> <% } else { %>'system/images/noimage.png' <% } %>" alt="<%= name %>" />
    <div class="product-details">
        <p><span>sku: </span><span><%= sku %></span></p>
        <p><span>brand: </span><span><%= brand %></span></p>
    </div>
</div>
<div data-productid="<%= id %>" class="product-options-listing h450 grid_9">
        <% var currOptions = $('#currOptions').val() %>

        <% _.each(defaultOptions, function(value, index) { %>

            <!-- option type dropdown -->
            <% if(value.type == 'dropdown' || value.type == 'radio') { %>
                <fieldset class="option option-<%= value.title %>" id="product-<%= id %>_option-<%= value.id %>" data-type="<%= value.type %>">
                    <label for="product-<%= id %>-option-<%= value.id %>"><%= value.title %></label>

                    <% var curSel = window.currOptions[value.id] %>
                    <% if(value.type == 'dropdown') { %>
                        <select name="product-<%= id %>-option-<%= value.id %>" id="product-<%= id %>-option-<%= value.id %>">
                            <% _.each(value.selection, function(sel, key) { %>
                                <% var price = (sel.priceType == 'unit') ? accounting.formatMoney(sel.priceValue) : (sel.priceValue + '%') %>
                                <option <% if(curSel != 'undefined' && curSel == sel.id) { %> selected="selected" <% } %>  value="<%= sel.id %>"><%= sel.title + ' (price: ' + sel.priceSign + price + ' / weight: ' + sel.weightSign + sel.weightValue + $('#weight-sign').val() + ')' %></option>
                            <% }) %>
                        </select>
                    <% } else { %>
                        <% _.each(value.selection, function(sel, key) { %>
                            <% var price = (sel.priceType == 'unit') ? accounting.formatMoney(sel.priceValue) : (sel.priceValue + '%') %>
                            <p><input <% if(curSel != 'undefined' && curSel == sel.id) { %> checked="checked" <% } %> type="radio" id="product-<%= id %>-option-<%= value.id %>-<%= sel.id %>" name="product-<%= id %>-option-<%= value.id %>" value="<%= sel.id %>" /><%= sel.title %> (price: <%= sel.priceSign + price %> / weight <%= sel.weightSign + sel.weightValue + $('#weight-sign').val() %>)</p>
                        <% }) %>
                    <% } %>
                </fieldset>
            <% } %>
            <!-- /option type dropdown -->

            <!-- option type text -->
            <% if(value.type == 'text') { %>
                <fieldset class="option option-<%= value.title %>" id="product-<%= id %>_option-<%= value.id %>" data-type="<%= value.type %>">
                    <label><%= value.title %></label>
                     <input type="text" name="product-<%= id %>-option-<%= value.id %>" />
                </fieldset>
            <% } %>
            <!-- /option type text -->

            <!-- option type date -->
            <% if(value.type == 'date') { %>
                <fieldset class="option option-<%= value.title %>" id="product-<%= id %>_option-<%= value.id %>" data-type="<%= value.type %>">
                    <label for="product-<%= id %>-option-<%= value.id %>"><%= value.title %></label>
                    <input type="date" name="product-<%= id %>-option-<%= value.id %>" id="product-<%= id %>-option-<%= value.id %>" />
                </fieldset>
            <% } %>
            <!-- /option type date -->

        <% }) %>
</div>